<form method="post" action="/articles/<%=@article.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <ul>
    <li>
      <label for="title">Title</label>
      <input id="title" type="text" name="article[title]" value="<%=@article.title%>">
    </li>
    <li>
      <label for="content">Content</label>
      <textarea id="content" type="text" name="article[content]"  value="<%=@article.content%>">
      </textarea>
    </li>
  </ul>
 <input type="submit" name="Submit">

</form>
