<!DOCTYPE html>
<html>
<head></head>
<body>
  <form method="POST" action="/articles">
    <label for="title">Title: </label>
    <input id="title" type="text" name="title">
    <br>

    <label for="content">Article content: </label>
    <textarea id="content" type="text" name="content"></textarea>
    <br>

    <input type="submit" name="Submit!">
  </form>
</body>



</html>
