<!DOCTYPE html>
<html>
<head></head>
<body>
  <form method="POST" action="/articles">
    <label for="article_title">Title: </label>
    <input id="article_title" type="text" name="article_title">
    <br>

    <label for="article_content">Article content: </label>
    <textarea id="article_content" type="text" name="article_content"></textarea>
    <br>

    <input type="submit" name="Submit!">
  </form>
</body>



</html>
