<form method="POST" action="/articles">
  <ul>
    <li>
      <label for="title">Title</label>
      <input id="title" type="text" name="title">
    </li>
    <li>
      <label for="content">Article content</label>
      <textarea id="content" type="text" name="content"></textarea>
    </li>
  </ul>

  <input type="submit" name="Submit!">
</form>
